<div class="toast align-items-center bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div id="toast-body-required-fields" class="toast-body text-white">
            <span>Debe llenar todos los campos del formulario</span>
        </div>
        <div id="toast-body-normal" class="toast-body text-white">
            <div asp-validation-summary="All" id="validation-summary-container"></div>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 mt-2" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>