@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row bg-white p-4 rounded">
    <div class="row mb-1">
        <h1>Politica de privacidad.</h1>

        <p>
            Esta Pol&iacute;tica de Privacidad fue creada para reforzar nuestro compromiso de preservar la 
            informaci&oacute;n personal de nuestros clientes.
        </p>
        
        <p>
            Este documento indica c&oacute;mo AVE Auto Rentals maneja la informaci&oacute;n personal de los 
            usuarios, ya sea recopilada directamente de los sitios web y m&oacute;vil, o almacenada en sus 
            bases de datos electr&oacute;nicas a trav&eacute;s de otros m&eacute;todos de recopilaci&oacute;n,
            como llamadas telef&oacute;nicas de clientes o formularios de inscripci&oacute;n.
        </p>
        
        <p>
            Esta pol&iacute;tica no aplica para empresas que no sean propiedad de, ni sean controladas por
            AVE Auto Rentals, ni para personas que no act&uacute;en como empleados o contratistas de AVE Auto Rentals.
        </p>
        
        <p>
            Nuestro sitio web puede tener enlaces a sitios web externos cuyas pol&iacute;ticas de privacidad y 
            contenidos no son responsabilidad de AVE Auto Rentals. Les recomendamos a los usuarios leer siempre las
            pol&iacute;ticas de privacidad antes de proporcionar cualquier informaci&oacute;n personal, as&iacute;
            como cuando sean redireccionados a sitios web externos.
        </p>        

        <p>
            Esta pol&iacute;tica est&aacute; sujeta a cambios. Recomendamos revisar su contenido peri&oacute;dicamente.

        </p>
        
        <p>
            Si AVE Auto Rentals aplica alg&uacute;n cambio sustancial a los procesos de manejo de datos personales
            de sus usuarios, cualquier actualizaci&oacute;n que afecte las condiciones de seguridad o privacidad
            ser&aacute; informada de inmediato (a) al p&uacute;blico en general, a trav&eacute;s de un anuncio
            publicado en nuestra p&aacute;gina de inicio, y (b) a los usuarios registrados a trav&eacute;s de un 
            correo electr&oacute;nico de notificaci&oacute;n.
        </p>
        
        <p>
            Deben considerarse las siguientes disposiciones para fines de esta pol&iacute;tica:
        </p>
        
        <p>
            1 - AVE Auto Rentals recopila informaci&oacute;n personal, capaz de identificar un usuario cuando:
            a) el usuario se registra y crea una nueva cuenta; b) el usuario se inscribe en nuestras promociones o
            concursos; c) los usuarios nos contactan a trav&eacute;s de los canales de servicio al cliente.
        </p>
        
        <p>
            Los datos recopilados y su uso est&aacute;n detallados en el punto 8 de esta pol&iacute;tica
        </p>

        <p>
            En caso de que el usuario necesite m&aacute;s informaci&oacute;n, o desee ponerse en contacto con
            AVE Auto Rentals directamente, dicho contacto puede hacerse por correo electr&oacute;nico a
            <a data-fr-linked="true" href="mailto:privacy@AVEAutoRentals.com">privacy@AVEAutoRentals.com</a>
        </p>

        <p>
            Es un derecho del usuario solicitar una copia de toda su informaci&oacute;n almacenada en nuestro sistema.
            Dicha solicitud puede hacerse directamente por correo electr&oacute;nico 
            a <a data-fr-linked="true" href="mailto:privacy@AVEAutoRentals.com">privacy@AVEAutoRentals.com</a>
        </p>
        <p>
            2 - Podemos solicitar informaci&oacute;n diferente para cada modelo de recopilaci&oacute;n de datos, 
            dependiendo del prop&oacute;sito de la misma. Los usuarios siempre son informados de los datos que se 
            recopilan, y pueden optar si proporcionar o no dicha informaci&oacute;n. Antes de tomar esa decisi&oacute;n, 
            el usuario siempre ser&aacute; informado de sus consecuencias.
        </p>
        
        <p>El prop&oacute;sito de los datos recopilados, as&iacute; como el tiempo de retenci&oacute;n de dichos datos,
            estar&aacute;n disponibles, cuando sea posible, en el formulario de registro de usuario contenido en el sitio
            web de AVE Auto Rentals.
        </p>

        <p>3 - AVE Auto Rentals recibe y almacena autom&aacute;ticamente informaci&oacute;n del navegador
            (es decir: direcci&oacute;n IP y p&aacute;ginas visitadas) mediante el uso de cookies.
        </p>
        
        <p>
            Las cookies son secciones cortas de informaci&oacute;n que generalmente incluyen un identificador 
            an&oacute;nimo &uacute;nico, y que son enviadas a su navegador por los sitios web, y almacenadas en el disco
            duro de su computador. Se usan para identificarlo durante su pr&oacute;xima visita a dichos sitios web.
        </p>
        
        <p>
            4 - Ni el ingreso de datos personales del usuario en el sitio web de AVE Auto Rentals, ni la
            aceptaci&oacute;n de cookies en el navegador, son obligatorios para navegar por el sitio web.
            Los usuarios que decidan hacerlo, autom&aacute;ticamente reconocen y aceptan los t&eacute;rminos 
            y condiciones establecidos en este sitio.
        </p>
        
        <p>
            5 - Todos los datos de usuarios recopilados por AVE Auto Rentals son manejados por medio de un protocolo seguro y
            encriptado de internet.
        </p>
        
        <p>
            6 - Hacemos todo lo posible para garantizar que toda la informaci&oacute;n proporcionada por los usuarios
            se almacene debidamente y se mantenga confidencial.
        </p>
        
        <p>
            7 - Todos los datos personales recopilados se almacenan en la base de datos de AVE Auto Rentals, 
            ubicada en R. Doutor Pedrosa 151, 12&ordm; - Centro, CEP 80420-120, Curitiba/Paran&aacute;,
            Brasil.
        </p>
        
        <p>
            8 - El sitio web de AVE Auto Rentals usa datos personales del usuario para los siguientes prop&oacute;sitos
            generales: (I) informar a los usuarios sobre nuevos productos corporativos y de socios; (II) actualizar 
            informaci&oacute;n de cuenta del usuario como n&uacute;mero telef&oacute;nico, correo electr&oacute;nico,
            direcci&oacute;n y SMS, entre otros medios de comunicaci&oacute;n; (III) optimizar la experiencia del usuario;
            (IV) recopilar datos estad&iacute;sticos generales, sin identificar al usuario; (V) responder dudas y
            solicitudes del usuario; (VI) desarrollar campa&ntilde;as de marketing y comunicaci&oacute;n, as&iacute;
            como anunciar ofertas especiales de socios; y (VII) notificar al usuario sobre novedades corporativas.
        </p>
       
        <p>
            Los datos proporcionados en nuestro sitio web se mantendr&aacute;n en nuestra base mientras sea necesario 
            para nuestras operaciones, o hasta que el usuario solicite su eliminaci&oacute;n, o retire la 
            autorizaci&oacute;n para su uso.
        </p>

        <p>
            Dicha solicitud debe hacerse directamente por correo electr&oacute;nico 
            a <a data-fr-linked="true" href="mailto:privacy@AVEAutoRentals.com">privacy@AVEAutoRentals.com</a>
        </p>
        <p>
            Usamos la informaci&oacute;n personal que recopilamos en relaci&oacute;n a la prestaci&oacute;n de 
            nuestros servicios para detectar y prevenir actividades fraudulentas. Compartimos esta informaci&oacute;n 
            con Sift, un proveedor de servicios externo que nos ayuda con este esfuerzo. Para obtener m&aacute;s 
            informaci&oacute;n sobre Sift, consulte su Aviso de Privacidad del Servicio.
        </p>

        <p>
            9 - El acceso a la informaci&oacute;n personal est&aacute; restringido a empleados y personal autorizado 
            de AVE Auto Rentals. Cualquier persona que viole esta pol&iacute;tica de privacidad y haga un mal uso de dicha
            informaci&oacute;n, ser&aacute; sometida a las sanciones aqu&iacute; detalladas, adem&aacute;s de las acciones
            y responsabilidades legales aplicables.
        </p>
        
        <p>
            10 - La informaci&oacute;n de usuarios jam&aacute;s ser&aacute; divulgada a terceros diferentes a socios
            o aliados autorizados de AVE Auto Rentals. Adem&aacute;s, la informaci&oacute;n de usuarios jam&aacute;s ser&aacute;
            usada para fines diferentes a aquellos para los que fue recopilada por AVE Auto Rentals, salvo por orden judicial.
        </p>
        
        <p>
            11 - Por la presente, el usuario garantiza la veracidad y exactitud de la informaci&oacute;n personal 
            proporcionada. AVE Auto Rentals no ser&aacute; responsable por informaci&oacute;n personal falsa o imprecisa
            proporcionada por los usuarios.
        </p>
      
        <p>
            12 - Los usuarios pueden modificar, corregir o eliminar informaci&oacute;n personal e identificable cuando 
            decidan hacerlo a trav&eacute;s de la p&aacute;gina de Informaci&oacute;n de Cuenta. Bajo ninguna 
            circunstancia los usuarios deben proporcionar datos personales a trav&eacute;s de correo electr&oacute;nico, 
            ya que ese entorno no cuenta con los requisitos de seguridad adecuados. AVE Auto Rentals no se har&aacute; responsable
            por la correcci&oacute;n, modificaci&oacute;n o eliminaci&oacute;n de datos personales.
        </p>
        
        <p>
            Cuando se presente una solicitud de eliminaci&oacute;n de informaci&oacute;n personal, AVE Auto Rentals 
            enviar&aacute; un memorando informando los datos que se eliminaron.
        </p>

        <p>
            La eliminaci&oacute;n de datos se har&aacute; dentro de las 72 horas siguientes al env&iacute;o de la 
            solicitud a trav&eacute;s de cualquier canal disponible para este fin.
        </p>

        <p>Por motivos de seguridad, algunos cambios en la cuenta, incluyendo toda la informaci&oacute;n de cuenta
            de usuario, podr&aacute;n hacerse &uacute;nicamente tras autenticar el correo electr&oacute;nico y la 
            contrase&ntilde;a.
        </p>
        
        <p>
            13 - Los boletines y promociones de mercadeo que enviadas por correo electr&oacute;nico, siempre deben 
            darle al destinatario la opci&oacute;n de cancelar su suscripci&oacute;n para recibir dichos mensajes. 
            Todas las solicitudes ser&aacute;n atendidas r&aacute;pidamente.
        </p>
        
        <p>14 - Los servicios de env&iacute;o de mercadeo por correo electr&oacute;nico son prestados por una empresa 
            contratada por AVE Auto Rentals, que usa sus propios servidores para enviar mensajes de correo electr&oacute;nico de
            mercadeo de nuestra parte.
        </p>
        
        <p>
            15 - Dichas empresas no almacenan ni usan la informaci&oacute;n de correo electr&oacute;nico de los 
            usuarios de AVE Auto Rentals para ning&uacute;n prop&oacute;sito que no sea el env&iacute;o de mensajes deacuerdo 
            con las preferencias definidas por cada usuario en el sitio web de AVE Auto Rentals.
        </p>
        
        <p>
            16 - El usuario es responsable de almacenar y salvaguardar su nombre de usuario y contrase&ntilde;a. 
            No recomendamos el uso de contrase&ntilde;as obvias como fechas especiales, nombres o secuencias 
            num&eacute;ricas. En caso de sospecha de una divulgaci&oacute;n involuntaria de la contrase&ntilde;a,
            los usuarios deben cambiar inmediatamente su contrase&ntilde;a.
        </p>
       
        <p>
            17 - Despu&eacute;s de recibir informaci&oacute;n de cualquier oferta o descuento ofrecido por AVE Auto Rentals,
            revise nuestro sitio web para confirmar la veracidad de dicha oferta. Cualquier informaci&oacute;n no 
            confirmada con respecto a nuestras ofertas y servicios debe ser ignorada.
        </p>
        
        <p>
            18 - Los datos recopilados podr&aacute;n ser utilizados &uacute;nicamente para los prop&oacute;sitos 
            descritos en esta Pol&iacute;tica de Privacidad, incluyendo en aplicaciones de datos colectivos.
        </p>
       
        <p>2022&copy; AVE Auto Rentals. Todos los derechos reservados.</p>

    </div>
</div>

