@model RentaCarros.Models.SetPasswordViewModel

@{
    ViewData["title"] = "Asignar Contraseña";
}

<form asp-action="SetPassword" id="form">
    <input asp-for="UserId" type="hidden" />
    <div class="row mb-1">
        <div class="col-4 offset-4 text-center">
            <h3 class="h3 mb-3">Asignación de Contraseña</h3>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <flash dismissable="true" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 offset-4">
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control border-1 border-dark rounded-0" required autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger validation-feedback"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control border-1 border-dark rounded-0" required autocomplete="off" />
                <span asp-validation-for="ConfirmPassword" class="text-danger validation-feedback"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col d-flex justify-content-center align-items-end gap-3">
            <input type="submit" id="submit" class="btn btn-success" value="Activar Cuenta" />
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }