@model RentaCarros.Models.StartBookingViewModel

@{
    ViewData["Title"] = "Formulario de Reserva";
}

<form asp-action="ShowForm" id="form" class="p-4">
    <input type="hidden" asp-for="VehicleId" />
    <div class="row mb-3">
        <div class="col-4 offset-4 text-center">
            <h3 class="h3 mb-1">Formulario de Reserva</h3>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="StartDate" class="control-label"></label>
            <input type="date" asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="EndDate" class="control-label"></label>
            <input type="date" asp-for="EndDate" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="StartTime" class="control-label"></label>
            <input type="time" asp-for="StartTime" value="08:00" class="form-control" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label asp-for="Endtime" class="control-label"></label>
            <input type="time" asp-for="Endtime" value="08:00" class="form-control" />
            <span asp-validation-for="Endtime" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="DeliveryPlace" class="control-label"></label>
            <input type="hidden" asp-for="DeliveryPlace" class="form-control" />
            <input type="text" class="form-control" id="DeliveryPlaceToggle" />
            <span asp-validation-for="DeliveryPlace" class="text-danger"></span>
        </div>
        <div class="col-4 align-self-start">
            <div class="form-check pt-4">
                <input type="checkbox" class="form-check-input" id="setAgencyAsDP" />
                <label class="form-check-label">Recoger en la agencia</label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col d-flex justify-content-center align-items-end">
            <button class="btn btn-success" id="submitForm">Iniciar reserva</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            var today = new Date();
            if ($("#EndDate").val() != "0001-01-01") {
                var currentDate = new Date($("#EndDate").val());
                today.setDate(currentDate.getDate() + 2);
            }
            if (today.getHours() > 20) {
                var startDate = new Date();
                var endDate = new Date();
                startDate.setDate(today.getDate() + 1);
                endDate.setDate(startDate.getDate() + 1);
                $("#StartDate").val(startDate.toISOString().split('T')[0]);
                $("#EndDate").val(endDate.toISOString().split('T')[0]);
                $("#StartDate").attr("min", startDate.toISOString().split('T')[0]);
                $("#EndDate").attr("min", endDate.toISOString().split('T')[0]);
            }
            else {
                var endDate = new Date();
                endDate.setDate(today.getDate() + 1);
                $("#StartDate").val(today.toISOString().split('T')[0]);
                $("#EndDate").val(endDate.toISOString().split('T')[0]);
                $("#StartDate").attr("min", today.toISOString().split('T')[0]);
                $("#EndDate").attr("min", endDate.toISOString().split('T')[0]);
            }
                
            $("#StartDate").change(function () {
                var startDate = new Date($("#StartDate").val());
                var endDate = new Date();
                endDate.setDate(startDate.getDate() + 2);
                $("#EndDate").val(endDate.toISOString().split('T')[0]);
                $("#EndDate").attr("min", endDate.toISOString().split('T')[0]);
            });

            $("#setAgencyAsDP").change(function () {
                if (this.checked) {
                    $("#DeliveryPlaceToggle").val("Agencia");
                    $("#DeliveryPlace").val($("#DeliveryPlaceToggle").val());
                    $("#DeliveryPlaceToggle").attr("readonly", true);
                } else {
                    $("#DeliveryPlaceToggle").val("");
                    $("#DeliveryPlace").val($("#DeliveryPlaceToggle").val());
                    $("#DeliveryPlaceToggle").attr("readonly", false);
                }
            });

            $("#submitForm").click(function () {
                $("#DeliveryPlace").val($("#DeliveryPlaceToggle").val());
                $("#form").submit();
            });
        });
    </script>
    }
